<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>

  <appSettings>
    <add key="logEnabled" value="true"/>
    <add key="logPath" value="c:\temp\dotnetmodule.txt"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
